.button {
	margin: 0;
	border: none;
	padding: 0.5rem 2.5rem;
	border-radius: var(--border-radius-primary);
	color: var(--color-light-primary);
	background-color: var(--color-pink-primary);
	font-size: 1rem;
	line-height: 1.5rem;
	cursor: pointer;
}

.button--secondary {
	padding: 0.25rem 0.5rem;
	border-radius: var(--border-radius-secondary);
	font-size: 0.875rem;
	line-height: 1rem;
	color: var(--color-dark-primary);
	background-color: var(--color-light-primary);
}
