.nav {
	display: flex;
	column-gap: 1rem;
}

@media (width < 1024px) {
	.nav {
		height: var(--bottom-nav-height);
		background-color: var(--color-dark-secondary);
		color: var(--color-light-primary);
	}
}

.nav__list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

@media (width < 1024px) {
	.nav__list {
		width: 100%;
		padding: 0 1rem;
		justify-content: space-between;
	}
}

@media (width < 1024px) {
	.nav__list--mobile-display-none {
		display: none;
	}
}

.nav__item {
	height: 100%;
}

.nav__link {
	text-decoration: none;
	height: 100%;
	padding: 0 0.5rem;
	font-weight: 700;
	color: currentColor;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.nav__link--cart,
.nav__link--user {
	align-items: center;
}

@media (width >= 1024px) {
	.nav__link--cart,
	.nav__link--user {
		row-gap: 0.25rem;
	}
}

.nav__link--cart::before,
.nav__link--user::before {
	content: '';
	width: 1.5rem;
	height: 1.5rem;
	mask-size: contain;
	mask-position: center;
	mask-repeat: no-repeat;
	background-color: currentColor;
}

.nav__link--cart::before {
	mask-image: url(../../img/cart.svg);
}

.nav__link--user::before {
	mask-image: url(../../img/user.svg);
}
